# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/.signature.p7s
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/configurations.autopkg
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/default-propertiesui.xml
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_assert.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_atomic.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_audio.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_bits.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_blendmode.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_clipboard.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_config.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_config_android.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_config_iphoneos.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_config_macosx.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_config_minimal.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_config_pandora.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_config_psp.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_config_windows.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_config_winrt.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_config_wiz.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_copying.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_cpuinfo.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_egl.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_endian.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_error.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_events.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_filesystem.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_gamecontroller.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_gesture.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_haptic.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_hints.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_joystick.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_keyboard.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_keycode.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_loadso.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_locale.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_log.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_main.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_messagebox.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_metal.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_misc.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_mouse.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_mutex.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_name.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_opengl.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_opengl_glext.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_opengles.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_opengles2.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_opengles2_gl2.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_opengles2_gl2ext.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_opengles2_gl2platform.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_opengles2_khrplatform.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_pixels.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_platform.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_power.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_quit.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_rect.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_render.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_revision.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_rwops.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_scancode.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_sensor.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_shape.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_stdinc.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_surface.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_system.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_syswm.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_test.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_test_assert.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_test_common.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_test_compare.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_test_crc32.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_test_font.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_test_fuzzer.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_test_harness.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_test_images.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_test_log.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_test_md5.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_test_memory.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_test_random.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_thread.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_timer.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_touch.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_types.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_version.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_video.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/SDL_vulkan.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/begin_code.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/include/close_code.h
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/sdl2.nuget-propertiesui-6e96dfbd-cf40-4e98-afdc-23ae3fd58d1b.xml
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/native/sdl2.nuget.targets
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/build/publisher-info.txt
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.2.0.16/sdl2.nuget.2.0.16.nupkg
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.redist.2.0.16/.signature.p7s
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.redist.2.0.16/build/configurations.autopkg
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.redist.2.0.16/build/native/default-propertiesui.xml
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.redist.2.0.16/build/native/sdl2.nuget.redist.targets
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.redist.2.0.16/build/publisher-info.txt
/SDL_PixelOps_msvc2019/packages/sdl2.nuget.redist.2.0.16/sdl2.nuget.redist.2.0.16.nupkg
/SDL_PixelOps_msvc2019/packages/sdl2_image.nuget.2.0.5/.signature.p7s
/SDL_PixelOps_msvc2019/packages/sdl2_image.nuget.2.0.5/build/configurations.autopkg
/SDL_PixelOps_msvc2019/packages/sdl2_image.nuget.2.0.5/build/native/default-propertiesui.xml
/SDL_PixelOps_msvc2019/packages/sdl2_image.nuget.2.0.5/build/native/include/SDL_image.h
/SDL_PixelOps_msvc2019/packages/sdl2_image.nuget.2.0.5/build/native/sdl2_image.nuget-propertiesui-8a8929c0-e0e5-46e4-be1a-9d0f137e0b34.xml
/SDL_PixelOps_msvc2019/packages/sdl2_image.nuget.2.0.5/build/native/sdl2_image.nuget.targets
/SDL_PixelOps_msvc2019/packages/sdl2_image.nuget.2.0.5/build/publisher-info.txt
/SDL_PixelOps_msvc2019/packages/sdl2_image.nuget.2.0.5/sdl2_image.nuget.2.0.5.nupkg
/SDL_PixelOps_msvc2019/packages/sdl2_image.nuget.redist.2.0.5/.signature.p7s
/SDL_PixelOps_msvc2019/packages/sdl2_image.nuget.redist.2.0.5/build/configurations.autopkg
/SDL_PixelOps_msvc2019/packages/sdl2_image.nuget.redist.2.0.5/build/native/default-propertiesui.xml
/SDL_PixelOps_msvc2019/packages/sdl2_image.nuget.redist.2.0.5/build/native/sdl2_image.nuget.redist.targets
/SDL_PixelOps_msvc2019/packages/sdl2_image.nuget.redist.2.0.5/build/publisher-info.txt
/SDL_PixelOps_msvc2019/packages/sdl2_image.nuget.redist.2.0.5/sdl2_image.nuget.redist.2.0.5.nupkg
/SDL_PixelOps_msvc2019/.vs/SDL_PixelOps_msvc2019/v16/.suo
/SDL_PixelOps_msvc2019/.vs/SDL_PixelOps_msvc2019/v16/Browse.VC.db
/SDL_PixelOps_msvc2019/.vs/SDL_PixelOps_msvc2019/v16/Browse.VC.db-shm
/SDL_PixelOps_msvc2019/.vs/SDL_PixelOps_msvc2019/v16/Browse.VC.db-wal
/SDL_PixelOps_msvc2019/.vs/SDL_PixelOps_msvc2019/v16/Browse.VC.opendb
/SDL_PixelOps_msvc2019/.vs/SDL_PixelOps_msvc2019/v16/ipch/AutoPCH/15be88d37110df9b/MAIN.ipch
/SDL_PixelOps_msvc2019/.vs/SDL_PixelOps_msvc2019/v16/ipch/AutoPCH/2b67d62dfc1c8ab2/MAIN.ipch
/SDL_PixelOps_msvc2019/.vs/SDL_PixelOps_msvc2019/v16/ipch/AutoPCH/5a5d90d0d6e32189/ENGINE.ipch
/SDL_PixelOps_msvc2019/.vs/SDL_PixelOps_msvc2019/v16/ipch/AutoPCH/610251ac13f917e4/ENGINE.ipch
/SDL_PixelOps_msvc2019/.vs/SDL_PixelOps_msvc2019/v16/ipch/AutoPCH/7cd265eb1d85b8c/MAIN.ipch
/SDL_PixelOps_msvc2019/.vs/SDL_PixelOps_msvc2019/v16/ipch/AutoPCH/e7c07b69236df3a4/GENIMAGE.ipch
/SDL_PixelOps_msvc2019/SDL_PixelOps/SDL_PixelOps.vcxproj.filters
/SDL_PixelOps_msvc2019/SDL_PixelOps/SDL_PixelOps.vcxproj.user
/SDL_PixelOps_msvc2019/SDL_PixelOps/packages.config
/SDL_PixelOps_msvc2019/SDL_PixelOps/x64/Release/SDL_PixelOps.exe.recipe
/SDL_PixelOps_msvc2019/SDL_PixelOps/x64/Release/SDL_PixelOps.iobj
/SDL_PixelOps_msvc2019/SDL_PixelOps/x64/Release/SDL_PixelOps.ipdb
/SDL_PixelOps_msvc2019/SDL_PixelOps/x64/Release/SDL_PixelOps.log
/SDL_PixelOps_msvc2019/SDL_PixelOps/x64/Release/SDL_PixelOps.tlog/CL.command.1.tlog
/SDL_PixelOps_msvc2019/SDL_PixelOps/x64/Release/SDL_PixelOps.tlog/CL.read.1.tlog
/SDL_PixelOps_msvc2019/SDL_PixelOps/x64/Release/SDL_PixelOps.tlog/CL.write.1.tlog
/SDL_PixelOps_msvc2019/SDL_PixelOps/x64/Release/SDL_PixelOps.tlog/SDL_PixelOps.lastbuildstate
/SDL_PixelOps_msvc2019/SDL_PixelOps/x64/Release/SDL_PixelOps.tlog/link.command.1.tlog
/SDL_PixelOps_msvc2019/SDL_PixelOps/x64/Release/SDL_PixelOps.tlog/link.read.1.tlog
/SDL_PixelOps_msvc2019/SDL_PixelOps/x64/Release/SDL_PixelOps.tlog/link.write.1.tlog
/SDL_PixelOps_msvc2019/SDL_PixelOps/x64/Release/vc142.pdb
/SDL_PixelOps_msvc2019/x64/Release/SDL_PixelOps.pdb
